<nav class="navbar" id="navbar">
    <div class="container">
        <div class="navbar__header">
            <h1>
                <a href="#" class="navbar__logo">Patryk Jelonek</a>
            </h1>
            <span class="hamburger" id="hamburger"></span>
        </div>
        <ul class="nav" id="navigation">
            <li class="nav__item">
                <a href="#omnie" class="nav__link">O mnie</a>
            </li>
            <li class="nav__item">
                <a href="#technologie" class="nav__link">Technologie</a>
            </li>
            <li class="nav__item">
                <a href="#portfolio" class="nav__link">Portfolio</a>
            </li>
            <li class="nav__item">
                <a href="#kontakt" class="nav__link">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>