<section class="technologies" id="technologie">
    <header class="header">
        <h2 class="header__title">Technologie</h2>
        <p class="header__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto temporibus ipsum voluptatem aperiam itaque doloremque ut corporis alias saepe ad asperiores veritatis vel dolor laboriosam obcaecati earum beatae, molestiae quia.</p>
    </header>
    <div class="categories">
        <div class="category">
            <h3 class="category__title"><span class="category__icon category__icon--frontend"></span>Front-End</h3>
            <p class="category__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque asperiores perferendis eum optio ducimus quis delectus saepe nisi odit! Corporis culpa quos quae fuga nulla. Id quae assumenda earum deserunt?</p>
            <ul class="technologies-list">
                <li class="technologies-list__item">HTML 5</li>
                <li class="technologies-list__item">CSS 3</li>
                <li class="technologies-list__item">BEM Methodology</li>
                <li class="technologies-list__item">Sass</li>
                <li class="technologies-list__item">JavaScript</li>
                <li class="technologies-list__item">Vue.js</li>
            </ul>
        </div>
        <div class="category">
            <h3 class="category__title"><span class="category__icon category__icon--backend"></span>Back-End</h3>
            <p class="category__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, voluptate nihil quod, expedita ipsum eveniet nulla explicabo quasi voluptatibus magnam corrupti reprehenderit saepe consequatur enim debitis natus. Veritatis, perspiciatis temporibus.</p>
            <ul class="technologies-list">
                <li class="technologies-list__item">PHP</li>
                <li class="technologies-list__item">Yii 2</li>
                <li class="technologies-list__item">Laravel</li>
                <li class="technologies-list__item">Node.js</li>
            </ul>
        </div>
        <div class="category">
            <h3 class="category__title"><span class="category__icon category__icon--databases"></span>Bazy Danych</h3>
            <p class="category__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam molestiae corporis reprehenderit. Dignissimos, expedita corrupti architecto consequatur et impedit iusto autem aliquam sapiente excepturi voluptas possimus animi? Perspiciatis, quaerat. Deserunt?</p>
            <ul class="technologies-list">
                <li class="technologies-list__item">MySQL</li>
            </ul>
        </div>
        <div class="category">
            <h3 class="category__title"><span class="category__icon category__icon--other"></span>Inne</h3>
            <p class="category__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam molestiae corporis reprehenderit. Dignissimos, expedita corrupti architecto consequatur et impedit iusto autem aliquam sapiente excepturi voluptas possimus animi? Perspiciatis, quaerat. Deserunt?</p>
            <ul class="technologies-list">
                <li class="technologies-list__item">TypeScript</li>
                <li class="technologies-list__item">Electron</li>
                <li class="technologies-list__item">Hugo</li>
            </ul>
        </div>
    </div>
</section>