:root
{
    font-size: 15px;

    @media (max-width: 500px)
    {
        font-size: 14px;
    }

    @media (max-width: 300px)
    {
        font-size: 12px;
    }
}

body
{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    word-wrap: break-word;
    white-space: normal;
}

h1, h2, h3, h4, h5
{
    text-transform: uppercase;
}

h1, h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

h3, h4, h5
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

h2
{
    font-size: 4.071rem;

    @media (max-width: 400px)
    {
        font-size: 3.071rem;
    }

    @media (max-width: 300px)
    {
        font-size: 2.071rem;
    }
}

h3
{
    font-size: 1.5rem;
    margin: 5px;
}

a
{
    color: $primary-color;
    text-decoration: none;
}
