:root
{
    font-size: 18px;

    @media (max-width: 500px)
    {
        font-size: 14px;
    }
}

body
{
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5
{
    font-family: 'Roboto Mono', monospace;
}

h2
{
    font-size: 2.667rem;
}

h3
{
    font-size: 1.333rem;
    margin: 5px;
}

a
{
    color: $primary-color;
    text-decoration: none;
}

