html
{
    scroll-behavior: smooth;
}

body
{
    background: $background;
    color: $primary-color;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.main
{
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 1440px)
    {
        padding: 0px 50px;
    }

    @media (max-width: 700px)
    {
        padding: 0px 25px;
    }

    @media (max-width: 400px)
    {
        padding: 0px 10px;
    }
}

.container
{
    width: 100%;
    max-width: 1440px;
}

section
{
    margin-bottom: 100px;
    scroll-margin-top: 80px;

    @media (max-width: 500px)
    {
        margin-bottom: 50px;
    }
}