.site-header
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-subtitle
{
    position: relative;
    z-index: 2;
    text-align: center;

    &::after
    {
        content:"";
        width: 70%;
        height: 30px;
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 3px;
        right: -20px;
        background: $secondary-color;

        @media (max-width: 930px)
        {
            height: 25px;
        }

        @media (max-width: 785px)
        {
            height: 20px;
            right: -10px;
        }

        @media (max-width: 650px)
        {
            display: none;
        }
    }

    @media (max-width: 930px)
    {
        font-size: 3.4rem;
    }

    @media (max-width: 785px)
    {
        font-size: 2.8rem;
    }
}