<section class="contact" id="kontakt">
    <header class="contact__header">
        <h2 class="contact__title">Kontakt</h2>
        <p class="contact__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident neque nulla facere qui nihil eaque, minima ad, expedita ducimus cumque dolores eum impedit voluptates consequuntur voluptatibus! Inventore in at neque?</p>
    </header>
    <form class="form" action="mailto:patrykjelonek97@gmail.com?subject=(title)" method="post" enctype="text/plain" id="contact-form">
        <div class="form__input-container">
            <label for="email" class="form__label">Email</label>
            <input type="email" name="email" id="email" class="form__input" placeholder="mail@example.com">
        </div>

        <div class="form__input-container">
            <label for="title" class="form__label">Tytuł</label>
            <input type="text" name="title" id="title" class="form__input" placeholder="Lorem ipsum...">
        </div>

        <div class="form__input-container">
            <label for="content" class="form__label">Treść</label>
            <textarea name="content" id="content" class="form__input form__input--textarea" placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit..."></textarea>
        </div>

        <button type="submit" class="form__button">Wyślij</button>
    </form>
</section>