<section class="technologies" id="technologie">
    <header class="header">
        <h2 class="header__title">Technologie</h2>
        <p class="header__content">Swój stack technologiczny chciałbym oprzeć w większości na języku JavaScript ze względu na jego popularność i wszechstronność, która pozwala wykorzystać jeden język zarówno po stronie klienta, jak i po stronie serwera. W dodatku przy wykorzystaniu odpowiednich bibliotek i frameworków można w nim stworzyć nawet aplikacje desktopową która działa na wielu platformach.</p>
        <p class="header__content">Posiadam również doświadczenie w pisaniu aplikacji webowych w języku PHP.</p>
    </header>
    <div class="categories">
        <div class="category">
            <h3 class="category__title"><span class="category__icon category__icon--frontend"></span>Front-End</h3>
            <p class="category__description">W swoich projektach staram się pisać semantyczny kod HTML oparty na metodyce BEM. </p>
            <ul class="technologies-list">
                <li class="technologies-list__item">HTML 5</li>
                <li class="technologies-list__item">CSS 3</li>
                <li class="technologies-list__item">BEM Methodology</li>
                <li class="technologies-list__item">Sass</li>
                <li class="technologies-list__item">JavaScript</li>
                <li class="technologies-list__item">Vue.js</li>
            </ul>
        </div>
        <div class="category">
            <h3 class="category__title"><span class="category__icon category__icon--backend"></span>Back-End</h3>
            <p class="category__description">Swoje doświadczenie backendowe opieram głównie na frameworkach PHP'owych Yii 2 i Laravel, lecz posiadam również doświadczenie w pisaniu skryptów w Node.js i tą technologie chciałbym w przyszłości rozwijać.</p>
            <ul class="technologies-list">
                <li class="technologies-list__item">PHP</li>
                <li class="technologies-list__item">Yii 2</li>
                <li class="technologies-list__item">Laravel</li>
                <li class="technologies-list__item">Node.js</li>
            </ul>
        </div>
        <div class="category">
            <h3 class="category__title"><span class="category__icon category__icon--databases"></span>Bazy Danych</h3>
            <p class="category__description">Wszystkie dotychczasowych projekty opierałem na systemie zarządzania bazą danych MySQL ze względu na jego popularność. Również staram się, by każda tworzona przeze mnie baza danych była znormalizowana.</p>
            <ul class="technologies-list">
                <li class="technologies-list__item">MySQL</li>
            </ul>
        </div>
        <div class="category">
            <h3 class="category__title"><span class="category__icon category__icon--other"></span>Inne</h3>
            <p class="category__description">Poza wyżej wymienionymi technologiami, używam również języka TypeScript, ze względu na typowanie zmiennych i łatwiejsze debugowanie pisanego kodu. Dodatkowo do napisania jednego projektów użyłem frameworku Electron.js do utworzenia multiplatformowej aplikacji desktopowej w języku JavaScript, oraz chętnie korzystam z kontroli wersji GIT.</p>
            <ul class="technologies-list">
                <li class="technologies-list__item">TypeScript</li>
                <li class="technologies-list__item">Electron</li>
                <li class="technologies-list__item">Hugo</li>
                <li class="technologies-list__item">GIT</li>
                <li class="technologies-list__item">Figma</li>
            </ul>
        </div>
    </div>
</section>