<section class="about" id="omnie">
    <h2 class="about__title">O mnie</h2>
    <div class="about__paragraphs">
        <p class="about__paragraph">Nazywam się <b>Patryk Jelonek</b> i interesuje się tworzeniem oprogramowania z nastawieniem na aplikacje internetowe. Swoją przygodę z programowaniem rozpocząłem w technikum w którym uzyskałem tytuł Technika Informatyka.</p>
        <p class="about__paragraph">Obecnie jestem studentem 3 roku studiów ze specjalnością “Projektowanie Baz Danych i Oprogramowanie Użytkowe” w Państwowej Wyższej Szkole Zawodowej w Elblągu.</p>
        <p class="about__paragraph">Swoje doświadczenie zodobywam udzielając się w kole naukowym IEEE Elblag Student Branch i realizując projekty dla znajomych.</p>
    <div>
</section>